<template>
  <div class="md-body">
    <h1>In this app:</h1>
    <ul>
      <li>Full customization of the template on Vue CLI</li>
      <li>Installing and configuring Vue-router for Vue.js 3</li>
      <li>Dynamic redraw without page reload</li>
      <li>Dynamic navbar and links</li>
      <li>Handling non-existing routes</li>
      <li>Hashes and router mods</li>
      <li>General config settings</li>
    </ul>
    <p>
      Made on course
      <a href="https://tocode.ru/courses/vuejs-3-s-nulya-do-rezultata/" target="_blank">Made on the course "Vue.js 3 from scratch to
        result"</a>
    </p>
  </div>
</template>
