<template>

    <div v-if="isloading">
        <Spinner :width="50" :height="50" />
    </div>
    <div v-else>
        <div class="tweet-menu-wrapper">
            <div class="tweet-menu">
                <select v-model="sortBy" name="sortBy">
                    <option value="date">Sort by date</option>
                    <option value="likes">Sort by likes</option>
                </select>
            </div>
        </div>


        <div class="tweets__wrapper" v-for="item in dataSortered" :key="item.id">
            <Tweet
                    :id="item.id"
                    :likes="item.likes"
                    :name="item.date"
                    :imgUrl="item.avatar"
                    @onSubmit="handleLikeSubmit"
            >
                {{ item.body }}
            </Tweet>
        </div>
        <button @click="handleModalShow" class="btn btnTweet btnTweetHome">
            New tweet
        </button>
        <Modal title="New Tweet" v-if="showModal" @onClose="handleModalShow" >
            <TweetForm @onSubmit="handleTweetSubmit"></TweetForm>
        </Modal>
    </div>
</template>


<script>
  import {ref, computed} from 'vue'
  import Spinner from '@/components/UI/Spinner.vue'
  import Modal from '@/components/UI/Modal.vue'
  import Tweet from '@/components/UI/Tweet.vue'
  import TweetForm from '@/components/UI/TweetForm.vue'


  export default {
    components: {Spinner, Modal, Tweet, TweetForm},
    setup() {
      const data = ref([
        {
          id: 1,
          body: 'hello world',
          avatar:
            'https://png.pngtree.com/png-vector/20190704/ourlarge/pngtree-businessman-user-avatar-free-vector-png-image_1538405.jpg',
          likes: 34,
          date: '10-04-2021'
        },
        {
          id: 2,
          body: 'hello world 2',
          avatar:
            'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgSmojUgwjIB87c4Q0hLCAyl__oiTySWGWJUZtUNHlHjBALLzTsu_vMHYMaEwLts4QEoo&usqp=CAU',
          likes: 0,
          date: '14-04-2021'
        },
        {
          id: 3,
          body: 'hello world 3',
          avatar:
            'https://thumbs.dreamstime.com/b/male-avatar-icon-flat-style-male-user-icon-cartoon-man-avatar-hipster-vector-stock-91462914.jpg',
          likes: 20,
          date: '08-04-2021'
        },
        {
          id: 4,
          body: 'hello world 4',
          avatar:
            'https://tocode.ru/static/_secret/bonuses/1/avatar-1Tq9kaAql.png',
          likes: 30,
          date: '08-04-2022'
        }
      ])
      const sortBy = ref('likes')
      const dataSortered = computed(() => {
        return data.value.sort((a,b) => {
          if (a[sortBy.value] < b[sortBy.value]) return 1
          if (a[sortBy.value] > b[sortBy.value]) return -1
        })
      })

      const isloading = ref(true)
      setTimeout(() => {
        isloading.value = false
      }, 500)

      const showModal = ref(false)
      const handleModalShow = () => {
        const nextShowModal = (showModal.value = !showModal.value)
        showModal.value = nextShowModal
      }
      document.body.addEventListener('keyup', e =>{
        if(e.keyCode === 27) showModal.value = false
      })
      const handleLikeSubmit = (id) => {
        console.log(data.value)
        console.log(id)
      }
      const handleTweetSubmit = (text) => {
        data.value.push({
          id: data.value.length + 1,
          body: text,
          avatar:
          'https://tocode.ru/static/_secret/bonuses/1/avatar-1Tq9kaAql.png',
            likes: 0,
          date: new Date(Date.now()).toLocaleString()
        })
        handleModalShow()
      }

      return {
        isloading,
        showModal,
        handleModalShow,
        dataSortered,
        sortBy,
        handleLikeSubmit,
        handleTweetSubmit
      }
    }
  }
</script>
<style lang="scss">
    .avatar{
        max-width: 60px;
    }
</style>