<template>
  <div class="container">
    <footer class="footer">
      <div class="container">
        <!-- link to course -->
        <ul class="navbar-list">
          <li class="navbar-item" v-for="link in links" :key="link.alias">
            <router-link class="navbar-link" :to="link.url">{{
              link.titel
              }}
            </router-link>
          </li>
        </ul>
      </div>
    </footer>
  </div>
</template>


<script>
	import {app, links} from '@/_config'
	export default {
		data (){
			return {
				links: links,
				title: app.title
			}
		}
	};
</script>