<template>
  <div class="wrapper">
    <MainHeader />
    <div class="container">

      <div class="wrapper-content">
        <router-view />
      </div>
    </div>
    <MainFooter />
  </div>
</template>


<script>

import MainHeader from '@/components/MainHeader'
import MainFooter from '@/components/MainFooter'

export default {
	components: {MainHeader, MainFooter},
}
</script>

<style lang="scss">

</style>
