<template>
  <form @submit.prevent="onSubmit">
    <textarea v-model="text"></textarea>
    <button type="submit" class="btn btnPrimary">Submit</button>
  </form>
</template>

<script>
import { ref } from 'vue'
export default {
  emits: ['onSubmit'],
  setup(_, context) {
    const text = ref('')

    const onSubmit = () => {
      context.emit('onSubmit', text.value)
      //reset
      text.value = ''
    } 

    return { text, onSubmit }
  }
}
</script>
